.App {
  text-align: center;
  background-image: url('https://userstyles.org/style_screenshots/262815_after.png?r=1712304012');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: auto;
  z-index: -1; /* Keeps the background behind all other content */
}

img {
  height: 200px;
  width: 200px;
}

ul{
  list-style: none;
}
.title{
  margin: 0;
}

.title h1{
  font-size: 30px;
  font-weight: 500px;
}
.hover-info h3{
  font-size: 18px;
  font-weight: 550;
  color: whitesmoke;
}

h1, h2, h3{
  color: whitesmoke;
  margin: 3px;
}


h2, h3{
  color:rgb(2, 2, 2);
}

.main-title, .flower-title h2, .bug-title{
  color:whitesmoke;
}


.title h1{
  font-size: 50px;
}

/* ---------BASIC FLEX ROW !!!! ------------------------------*/
.island-stars, 
.player-faves, .player-name, .player-info,
.all-bug-container, .bug-list, 
.options-container, .message,
.add-message,.photo-container,
.image-container, .images,
.image-navigation, .btn-type
{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
/* -----------------------------------------------------------*/

/* ----------FLEXBOX COLUMN BASIC!!!! -------*/
.container, .island-container, .flower-container,
.player-text, .stat, .flowers
{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*--------------------------------------------*/
.container, .island-container, .flower-container{
  width: 100%;
  overflow:auto;
}
.island-container{
  margin: 10px 0px;
}

/* ------------------VILLAGERS ------------------------------------*/
.villager-scroll, .fish-list{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  border-radius: 12px;
  width: 65%;
  padding: 5px;
  margin: 10px;
  color:rgb(0, 0, 0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor:pointer;
}
.villager-container{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  min-width: 250px;
  width: 100%;
  flex: 1;
  margin: 6px;
  padding: 8px;
  border-radius: 12px;
  transition: "ease-in" 0.5s;
}
.villager-icon{
  border-radius: 12px;
  width: 40%;
  margin: 4px;
}

.villager-container h2{
  text-decoration:underline;
  font-size: 35px;
}

.villager-description{
  display:none;
  padding: 12px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.4s ease; /* Smooth transition */
}

.villager-container:hover .villager-info{
  opacity: 1; 
  position: absolute;
  top: 100px;
}

.villager-name{
  width: 50%;
  position:relative;
  top: 0px;
  margin-bottom: 10px;
}

.villager-info{
  display:none;
  position: absolute;
  top: 100px;
}

.villager-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Villager's arrow buttons*/
.btn-increase, .btn-decrease{
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

/* for the left and right arrow key icon displays*/
ion-icon{
  height: 30px;
  width: 30px;
  color: whitesmoke;
  cursor:pointer;
}

.player-name ion-icon{
  width: 20px;
  height: 20px;
  margin:2px;
  padding:2px;
}
.btn-container{
  height: 100px;
  width: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}

/* --------------------for the player section --------------*/
.player-info{
  flex:1;
  height: 500px;
  width: 70%;
  min-width: 500px;
  margin: 8px;
  padding: 3px;
  border-radius: 12px;
  background-color: #a4dda2;
}

.player{
  min-width: 250px;
  width: 20%;
  height: 250px;
}

.player img{
  height: 250px;
  width: 220px;
}

.player-text{
  min-width: 220px;
  width: 70%;
  padding: 5px;
  margin: 5px;
}

.player-info h2{
  font-size: 20px;
  font-weight: 600px;
  padding: 3px;
}
.player-name h2{
  font-size: 25px;
}

.player-info h3{
  font-size: 16px;
  font-weight: 400px;
  font-style: italic;
}

.player-faves, .player-name{
  flex-wrap:wrap;
  border-radius: 12px;
  margin: 4px;
  width: 80%;
}

.player-name{
  flex-direction: column;
  padding: 6px;
}

.stat{
  padding: 2px;
  min-width: 120px;
  flex:1;
  width:25%;
  height: 160px;
  margin: 2px;
}
.stat p{
  font-size: 20px;
}
/* --------------- flower counter ---------------------------*/
.flower{ /* individual flower container with img and count*/
  min-height: 80px;
  width: 80px;
  margin: 5px;
}

.flowers{
  flex-wrap:wrap;
  padding: 6px;
  background-color: #a4dda2;
  border-radius:12px;
  min-width: 250px;
  width: 80%;
  height:300px;
}

.flower-img img{
  height: 50px;
  width: 50px;
}

.flower-group{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
  padding: 12px;
  height: 200px;
  position:relative;
  top: 0;
  left: 0;
  height: 350px;

}
.all-flowers{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
  height: auto;
  width: 95%;
}
.flower-title h2{
  writing-mode: vertical-rl;
  text-orientation: upright; 
  font-size: 20px;
}
/*-----------------settings/option container -----------------*/
.options-container{
  position: fixed;
  bottom: 10vh;
  left: 0vh;
}

.settings-container{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  padding: 6px;
  margin: 12px;
  position:fixed;
  bottom: 0;
  left: 0vh;
}

/* ------settings/options hover description -----------*/
.info{
  visibility: hidden;
  width: 200px;
  background-color: rgb(85, 67, 35);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 106%;
  left: 170%;
  margin-left: -60px;
}

.player-icon:hover .info,
.flower-icon:hover .info, 
.island-rating:hover .info, 
.home:hover .info, 
.goal-icon:hover .info,
.bugs-discovered:hover .info,
.fish-discovered:hover .info,
.island-photos:hover .info,
.message-icon:hover .info,
.forum-icon:hover .info
{
  visibility: visible;
}

/*-----------------settings/option container -----------------*/
.player-icon, .flower-icon, .island-rating, .home, .goal-icon,
.bugs-discovered, .fish-discovered, .island-photos, .message-icon, .forum-icon{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  padding: 6px;
  margin: 7px 7px 7px 12px;
  cursor:pointer;
}


/*---------------------fish -------------------------*/
.fish-container{
  border-radius: 12px;
  margin: 5px;
  padding: 6px;
  width: 300px;
  height: 310px;
  flex:1;
  min-width: 300px;
}

/* gives the fish name and description*/
.fish-info, .bug-info{
  background-color:rgba(226, 219, 219, 0.5);
  height: 105px;
  border-radius: 12px;
}

.bug-info{
  background-color:rgba(27, 116, 61, 0.5);
  height: 50px;
  padding: 3px;
  margin-top: 15px;
}
.bug-info h3, .fish-info h3{
  color:whitesmoke;
}

.fishes-container{
  margin: 5px;
  border-radius: 12px;
  padding: 3px;
  height: auto;
}

.fish-list{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90%;
  flex-wrap:wrap;
  height:auto;
  min-height: 600px;
  width: auto;
  margin: 50px;
}

.fish-pic [img]{
  height: 150px;
  width: 250px;
}
.fish-info{
  background-color: rgba(3, 59, 3, 0.363);
  color:whitesmoke;
  padding: 2px 7px;
}
.fish-info h3{
  font-size: 25px;
  text-decoration:underline;
}

/* ----------------------------Bug container  ------------------------------*/
.all-bug-container{
  padding: 10px;
  margin: 0px;
  height: auto 0;
}

.bug-container{
  height: 230px;
  width: 200px;
  margin: 20px;
  padding: 4px;
  flex: 0.50;
}
.bug-container img{
  max-width: 150px;
  max-height: 140px;
}
.bug-img{
  margin-top: 10px;
}
.bug-list{
  flex-wrap:wrap;
  width: 90%;
}
#bug-nav, #fish-nav{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#fish-nav{
  position:relative;
}


.message-container, .message-form{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  flex-direction:column;
}
#form-div{
  display:none;
}
#form-div{
  margin-top:30px;
  width: 80%;
  font-size: 25px;
}

.message-form input{
  width: 50%;
  height: 40px;
  border-radius: 12px;
  font-size: 25px;
  text-align:center;
}
.message-form textarea{
  width: 50%;
  height: 100px;
  border-radius: 12px;
  padding: 10px;
}

.message-form label{
  margin-top: 25px;
}

.message-form button{
  margin: 14px;
  height: 50px;
  width: 150px;
  border-radius: 12px;
  background-color: #dbd832;
  border:none;
  cursor:pointer;
}
.message-form button:hover{
  background-color:#dfb019;
}
/* --------message board -------------*/
.message-board-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  border-radius: 12px;
  margin: 40px 20px;
  padding: 12px;
  min-width: 350px;
  width: 50%;
  min-height: 150px;
  max-height: 450px;
  overflow-y:auto;
  overflow-x: hidden;
  height:auto;
  background-color: #8B4513;
  position: absolute;
  top: 50px;
  left: 100px;
  /* Firefox scrollbar color */
  scrollbar-width: thin; 
  scrollbar-color: #8B4513 #F4A460; 
}


.message-board-container::-webkit-scrollbar {
  width: 8px;
}

.message-board-container::-webkit-scrollbar-track {
    background: #F4A460;
    border-radius: 12px; 
}
.message-board-title{
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.message{
  padding: 8px;
  min-width: 300px;
}

/* -------------message responses ---------*/
.message-image img{
  border-radius: 50%;
  height: 50px;
  width:50px;
}
.user-info{
  margin: 0 40px;
}

.message{
  width: 90%;
}
.message-text{
  background-color:#F4A460;
  border-radius: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  height: 50px;
  width: 90%;
  font-size: 18px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.btn-add-msg{
  /* position: absolute;
  place-items:center; */
  bottom: 8px;
  background-color: #8B4513;
  border: 2px solid #F4A460;
  color:whitesmoke;
  border-radius: 12px;
  height: 30px;
  width: 100px;
  cursor:pointer;
}
.btn-add-msg:hover{
  background-color: #F4A460;
  border: 2px solid #F4A460;
  color:black;
}
.add-message{
  position:relative;
  left: 20px;
  bottom: 0px;
  margin: 10px 5px 0px 5px;
}

.image-container, .photo-container, .images{
  flex-wrap:wrap;
}
.images{
  width: 86%;
  height: 400px;
  position:relative;
  margin-bottom: 14px;
  top: 15px;
  left: 0px;
}
.image-container{
  width: 300px;
  background-color: whitesmoke;
  margin: 15px;
  padding: 15px 15px 85px 15px;
}
.image-container img{
  width: 280px;
}
.photo-container{
  flex-direction:column;
  margin: 0;
}
.btn-type{
  font-size: 20px;
  height: 40px;
  width: 320px;
  border-radius: 12px;
  border: 1px solid whitesmoke;
  padding: 8px;
  background-color: #a4dda2;
  
  cursor:pointer;
}
.btn-type:hover{
  background-color:whitesmoke;
}
.btn-type ion-icon{
  color:black;
}
.type-item{
  margin: 5px;
}

@media screen and (max-width: 700px){

  .message-board-container{
    max-height: 540px;
    min-width: 305px;
    left: 0px;
    top: 110px;
  }
  .message-container .title{
    position: absolute;
    left: 15px;
    top: 0;
  }
  .message-container{
    min-height: 400px;
  }
  .message-container #form-div{
    margin-top: 150px;
  }
  
  .player-info{
    flex-direction:column;
    width: 90%;
  }
  .image-container img{
    width: 250px;
  }
  .image-container{
    width: 300px;
    background-color: whitesmoke;
    margin: 5px;
    padding: 10px 0px 55px 0px;
  }
  #bug-nav, #fish-nav{
    position:relative;
  }
  
  /* .player-icon, .flower-icon, .island-rating, .home, .goal-icon,
  .bugs-discovered, .fish-discovered, .island-photos, .message-icon, .forum-icon{
    padding: 4px;
    height: 25px;
    width: 25px;
    margin: 12px 16px 12px 12px;
  }
  .options-container{
    margin-bottom: 12px;
    margin-left: 10px;
    min-height: 300px;
  } */
  
}